.DS_Store
Sources/.DS_Store
Sources/FastpixiOSVideoDataCore/.DS_Store
Sources/FastpixiOSVideoDataCore/Monitoetrics/.DS_Store
Sources/FastpixiOSVideoDataCore/Utils/.DS_Store
Tests/.DS_Store
Tests/FastpixiOSVideoDataCoreTests/.DS_Store